@using VisionNaranja.ViewModels.Product

@model IEnumerable<GetProductViewModel>
    
@{
    ViewData["Title"] = "Productos";
}

<h1>Productos</h1>

<div>
    <button class="btn btn-primary" id="btnCreate">Crear producto</button>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Acción</th>
        </tr>
    </thead>

    <tbody id="tbodyProduct">
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>
                    <button class="btn btn-success btn-edit" data-id="@product.Id">Editar</button>
                    <button class="btn btn-danger btn-delete" data-id="@product.Id">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Crear producto</h5>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body">

                <form id="productForm">
                    <input hidden="hidden" id="productId">
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input id="name"
                               class="form-control"
                               required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Descripción</label>
                        <textarea id="description"
                                  class="form-control">
                        </textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Precio</label>
                        <input id="price"
                               type="number"
                               step="0.01"
                               class="form-control" />
                    </div>

                    <div class="mb-3" id="divProductType">
                        <label class="form-label">Tipo</label>

                        <select id="productTypeId" class="form-select">
                            <option value="1">Producto</option>
                            <option value="2">Servicio</option>
                        </select>
                    </div>

                    <div class="mb-3" id="divEntrepreneurship">
                        <label class="form-label">Emprendimiento</label>

                        <select id="entrepreneurshipId" class="form-select">
                            <option value="1">emprendimiento test</option>
                        </select>
                    </div>

                    <div class="mb-3" id="divFiles">
                        <label class="form-label">Imágenes</label>

                        <input id="files"
                               type="file"
                               class="form-control"
                               multiple
                               accept="image/*" />
                    </div>

                </form>

            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Cancelar
                </button>

                <button class="btn btn-primary"
                        id="btnSaveOrUpdate">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/js/product.js"></script>
}